.has-submenu .drp-down .has-submenu .drp-down {
    position: absolute;
    left: 100%;
    padding-left: 7px;
    right: auto;
    top: 0;
    display: none !important;
}

.drp-down .drp-down>ul:before {
    display: none;
}

.has-submenu .drp-down .has-submenu:hover .drp-down {
    display: block !important;
}